{% extends "admin_adds/base_admin.html" %}

{% block title %} Відповідь на заяву {% endblock %}

{% block content %}
    <p>Id: {{ statement.statement_id}}</p>
    <p>Тренер: {{ statement.coach}}</p>
    <p>Команда: {{ statement.team}}</p>
    <p>Турнір: {{ statement.tournament}}</p>
    <p>Повідомлення: {{ statement.context}}</p>
    <p>Дата надходження: {{ statement.date}}</p>
    <div style="display:flex">
        <a href="/admin/games/statement">Назад</a>

        <form method="POST">
            {% csrf_token %}
            <input name="statement_id" type="hidden" value="{{statement.statement_id}}">
            <input name="method" type="hidden" value="Accept">
            <button type="submit" class="btn"> Підтвердити заяву </button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <input name="statement_id" type="hidden" value="{{statement.statement_id}}">
            <input name="method" type="hidden" value="Decline">
            <button type="submit" class="btn"> Відхилити заяву </button>
        </form>
    </div>
{%endblock%}
