{% extends "admin_adds/base_admin.html" %}

{% block title %} Відповідь на заяву {% endblock %}

{% block main %}
    <p>Id: {{ statement.statement_id}}</p>
    <p>Тренер: <a href="/admin/authentication/customuser/{{statement.coach.user_id}}">{{ statement.coach }}</a></p>
    <p>Команда: <a href="/admin/team/team/{{statement.team.team_id}}">{{ statement.team }}</a></p>
    <p>Турнір: <a href="/admin/games/tournament/{{statement.tournament.tournament_id}}">{{ statement.tournament }}</a></p>
    <p>Повідомлення: {{ statement.context }}</p>
    <p>Дата надходження: {{ statement.date }}</p>
    <div class="admin_form">
        <a href="/admin/games/statement">Назад</a>

        <form method="POST">
            {% csrf_token %}
            <input name="statement_id" type="hidden" value="{{statement.statement_id}}">
            <input name="method" type="hidden" value="Accept">
            <button type="submit" class="btn"> Підтвердити заяву </button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <input name="statement_id" type="hidden" value="{{statement.statement_id}}">
            <input name="method" type="hidden" value="Decline">
            <button type="submit" class="btn"> Відхилити заяву </button>
        </form>
    </div>
{%endblock%}
