{% extends "admin_adds/base_admin.html" %}

{% block title %} Вісторонення команди {% endblock %}

{% block main %}
    <div>
        <p> Id турніру: {{tournament.tournament_id}} </p>
        <p> Назва турніру: {{tournament.tournament_name}} </p>
        <p> Дати проведення: {{tournament.date_of_start}} -- {{tournament.date_of_end}} </p>
        <ul>
            <form method="POST">
                {% csrf_token %}
                <ul class="remove__list">
                    {% for team in teams %}
                        <span style="display: flex">
                            <input name="team" type="checkbox" value="{{team.team_id}}">
                            <li> {{ team }} </li>   
                        </span>
                    {% endfor %}
                </ul>
                <div class="remove__buttons">
                    <a class="button_link" href="/admin/games/tournament/">Назад</a>
                    <button class="button_link red" type="submit">Відсторонити</button>
                </div>    
            </form>
        </ul>
    </div>
{% endblock %}