{% extends "main_base.html" %}
{% load static %}

{% block content %}
    <h1> Інформація про Лігу </h1>
    <div class="FAQ__content">
        <p>Ласкаво просимо на офіційний веб-сайт Волейбольної ліги!</p>
        <p>Наша ліга є однією з провідних організацій волейбольного спорту в країні. На нашому сайті ви можете знайти повну інформацію про нашу лігу, її історію, команди та гравців.</p>
        <p>Ми пропонуємо широкий спектр послуг для волейбольних команд та гравців. Наш сайт надає можливість зареєструвати свою команду та взяти участь в наших турнірах. Ми дбаємо про нашіх гравців і надаємо їм можливість знайти собі команду, яка відповідає їхнім потребам.</p>
        <p>Крім того, ми пропонуємо нашим користувачам багато корисної інформації про волейбол. На нашому сайті ви знайдете розклад матчів, статистику гравців та команд, а також корисні поради від наших тренерів та експертів з волейболу.</p>
        <p>Ми завжди відкриті до співпраці та пропонуємо рекламні та партнерські можливості для бізнесу. Наш сайт є ідеальним майданчиком для спортивних брендів, щоб донести свої послуги та продукти до наших вірних фанів та гравців.</p>
        <p>На сайті Волейбольної ліги ми працюємо над тим, щоб забезпечити нашим користувачам якісний та доступний веб-досвід. Ми постійно вдосконалюємо наш сайт та надаємо користувачам можливість зв'язатися з нашою підтримкою у разі потреби.</p>
        <p>Приєднуйтеся до нашої Волейбольної ліги та станьте частиною нашої спільноти волейбольних фанів та гравців!</p>
    </div>
{% endblock %}