{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="sponsor__block-left">
        <div>
            <img class="mezuno" src="{% static 'media/mezuno_banner.png' %}">
            <p class="sponsore__text">Бренд спортивного інвентаря: "Mizuno" </p>
        </div>
        <div>
            <img class="errea" src="{% static 'media/errea_banner.png' %}">
            <p class="sponsore__text"> Бренд спортивного інвентаря: "Errea" </p>
        </div>
    </div>
    <div class="main__content">
        {% block content %}
            <h2> Сторінку не знайдено </h2>
        {% endblock %}
    </div>
    <div class="sponsor__block-right">
        <div>
            <img class="FVU" src="{% static 'media/fvu.jpeg' %}">
            <p class="sponsore__text"> Федерація Волейболу України</p>
        </div>
        <div>
            <img class="rozetka" src="{% static 'media/rozetka_banner.png' %}">
            <p class="sponsore__text"> Інтернет магазин: "Rozetka"</p>
        </div>
    </div>
{% endblock %}