{% extends "main_base.html" %}
{% load static %}

{% block content %}
    <h1> Заява на участь </h1>
    <form id="statement_form" method="POST" >
        <h2 class="statement__headers">Ваші дані:</h2>
        <div>
            <div class="input__block">
                {{form.coach.label}}
                {{form.coach}}
            </div>
            
            <div class="input__block">
                {{form.team.label}}
                {{form.team}}
            </div>
            <div class="input__block">
                {{form.tournament.label}}
                {{form.tournament}}
            </div>
        </div>

        <h2 class="statement__headers">Заповніть:</h2>


        {% csrf_token %}
        <div class="input__block">
            {{form.context.label}}
            {{form.context}}
        </div>
        <button class="button_link" onclick="createStatement(event)" type="submit" >Відправити</button>
    </form>
{% endblock %}