{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="login__block">
        <img class="login__block-img" src="{% static 'media/league_logo.png' %}">

        <p class="login__block-text">
            Вiтаємо,ви у нас вперше! Перший вхід був здійснений за допомогою паролю “standartpassword”,
            для забезпеченння захисту ваших данних змініть пароль нижче
        </p>

        {% if form.errors %}
            </div><div class="alert alert-danger">
              <strong>Oops! Виникли помилки:</strong>
              {{ form.errors }}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <p> {{ form.password_1 }} </p>
            <p> {{ form.password_2 }} </p>

            <button class="button_link" type="submit"> Змінити </button>
        </form>

    </div>
{% endblock %}